.register_form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif; 
}

.register_form div {
    margin-bottom: 15px;
}

.register_form label {
    display: block;
    margin-bottom: 5px;
}

.register_form input[type="text"],
.register_form input[type="password"],
.register_form input[type="date"],
.register_form input[type="file"],
.register_form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

.register_form input[type="file"] {
    padding: 0;
}

.register_form input[type="file"]::file-selector-button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.register_form button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.register_form button:hover {
    background-color: #45a049;
}

.icon-input {
    position: relative;
}

.icon-input input[type="text"],
.icon-input input[type="password"],
.icon-input input[type="date"],
.icon-input input[type="file"] {
    padding-right: 30px; /* Adjust as needed */
}

.icon-input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
}
